In [32]:
import pandas as pd
import csv
import sqlite3
from cryptography.fernet import Fernet
key = Fernet.generate_key()

Database Connection - SQLite3

In [33]:
conn = sqlite3.connect('csvdata.db', check_same_thread=False)
cursor = conn.cursor()

Reading the file and finding the number of columns

In [40]:
file = 'testdata.csv'
data = pd.read_csv(file)
col_value = data.columns
col = len(data.columns)
print("Number of columns = ",col)
rows = len(data.index) 
print("Number of columns = ", rows)

Number of columns =  7
Number of columns =  17

If there is a column called password, the whole column data is encrypted

In [ ]:
for i in range(0,col):
    if col_value[i] == 'password' or col_value[i] == 'Password' or col_value[i] == 'PASSWORD':
        data['broken'] = msg.encode()
        f=Fernet(key)
        data['broken']=f.encrypt(encoded)
print(data)

Creating the dynamic table

In [ ]:
sql1 ='''CREATE TABLE data('''+ col_value[0] +''' VARCHAR(255))'''
cursor.execute(sql1)
for i in range (1,col):
    sql ='''ALTER TABLE data ADD COLUMN '''+ col_value[i] +''' varchar(255)'''
    cursor.execute(sql)
    continue

Inserting the data from csv file into the Database

In [ ]:
valueinsert = (col-1) * "?,"

with open('testdata.csv','r') as file:
    record = 1
    for row in file:
        cursor.execute("INSERT INTO data Values ("+ valueinsert +"?)", row.split(","))
        conn.commit()    
        record+=1